/* 선택자(selector */
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
header{
    z-index: 100;
    border-bottom: 1px solid #d1d8e4;
    background: #fff;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.upper{
    position: relative;
    height: 130px;
    transition: height .3s ease;
}
.upper .head_center{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 100%;
}
.logo_area{
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.logo_area .naver_logo{
    display: block;
    overflow: hidden;
    width: 198px;
    height: 48px;
    background-position: -4px -4px;
    text-indent: 101%;
    white-space: nowrap;
}
.link_area{
    position: absolute;
    top: 11px;
    right: -5px;
    zoom: 1;
}
.link_area .start_page{
    float: left;
    height: 21px;
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}
.link_area .jr_naver{
    float: left;
    padding: 5px;
}
.link_area .happy_bean{
    float: left;
    padding: 5px;
}
.header-search >h1 {
    width: 280px;
    display: inline-block;
}
/* 자식 */

#serach_area{
    position: absolute;
    top: 50%;
    left: 219px;
    margin-top: -20px;
    width: 521px;
}
.search_area{
    position: absolute;
    top: 50%;
    left: 219px;
    margin-top: -20px;
    width: 521px;
}
.header-search h2{
    display:none;
}
.header-search fieldset{
    width:520px;
    display: inline-block;
} 
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
legend{
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
fieldset{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
.search_area .green_window  {
    display: inline-block;
    width: 470px;
    height: 45px;
    border: 2px solid #03cf5d;
    background-color: #fff;
}
/* #header-search h1{
    이 경우에는 자손 태그 
} */
/* div가 아닌 경우에는 id 앞에 태그 생략하면 안된다. */