* {
    box-sizing: border-box;
}
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
.center-align{
    margin:0 auto;
    width: 1080px;
}
.center-align a{
    text-decoration: none;
    vertical-align: middle;
}
.center-align h1{
    width: 198px;
    height: 50px;
    display: inline-block;
    background-image: url(../img/sp_search.svg);
    background-position: -3px -3px;
    text-indent: 100%;  /* 이렇게하면 오른쪽으로 튀어나간다. */
    overflow:hidden;   /* 컨텐츠 밖으로 튀어나가면 안보이게하는 */
    position: relative;
    top: -4px;
}
.center-align h2{
    display: none;
}

.center-align fieldset {
    width: 521px;
    height: 49px;
    margin-left: 20px;
    /* padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right:0; */
    padding: 12px 0 12px 10px;
    border: 2px solid  #03cf6d;
    display: inline-block;
    vertical-align: middle;
    position: relative;    
}

.center-align fieldset input{
    vertical-align: top;
    border: none;
    outline: none; /* input box에 클릭하면 테두리 쳐지는 것. */
    width: 405px;
    height: 23px;
    
    /* display: inline-block; input은 기본적으로 inline block */
}
.center-align fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    background: #03cf6d;
    position: absolute;
    top: -2px;
    right: -1px;
}


#search-image{
    
    background-image: url(../img/sp_search.svg);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display : inline-block;
    /* margin: 14px; */
}